.card {
    background-color: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.descricao {
    width: 40vw;
}

.descricao__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.descricao__titulo__livro {
    background: var(--azul-degrade);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;

}

.descricao__texto {
    color: var(--preto);
}

.descricao__imagem {
    align-self: flex-start;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--laranja);
    color: var(--branco);
    padding: 1em;
    font-weight: 700;
    display: inline-block; */
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: .5em;
}

.botoes__item {
    display: flex;
    padding: 1em;
    align-items: center;
}

.botoes__ancora {
    background-color: var(--laranja);
    text-align: center;
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}