.card{
    margin: 1.5em;
    border-radius: 10px;
    padding: 1em;
<<<<<<< HEAD
=======
    width: 380px;
    height: 295px;
>>>>>>> 0090927c95036e8ae8cc586e220029fdabbf7810
    background-color: var(--branco);
}

.card__descricao{
    display: flex;
<<<<<<< HEAD
    align-items: flex-start;
=======
>>>>>>> 0090927c95036e8ae8cc586e220029fdabbf7810
}

.descricao{
    width: 40vw;
}

.descricao__titulo{
    font-weight: 700;
    color: var(--laranja);
}

.descricao__titulo__livro{
<<<<<<< HEAD
    margin: 0.5em 0;
=======
>>>>>>> 0090927c95036e8ae8cc586e220029fdabbf7810
    font-weight: 700;
    background: var(--azul-degrade);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 18px;

}

.descricao__texto{
    color: var(--preto);
<<<<<<< HEAD
}

.descricao__imagem{
    margin-left: 1em;
    align-content: top;
}

.card__botoes{
    display: flex;
}

.botoes__imagem{
    margin: 1em;
}

.botoes__cta{
    align-content: center;
}

.cta{
    background-color: var(--laranja);
    color: var(--branco);
    padding: 1em;
    font-weight: 700;
    display: inline-block;
=======
>>>>>>> 0090927c95036e8ae8cc586e220029fdabbf7810
}