.carrossel__titulo {
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.carrossel {
    position: relative;
    z-index: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
    align-items: right;
}

.swiper-slide {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 1em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: var(--branco);
        display: block;
        top: 60%;
        background: url(../icons/Ellipse\ 3.svg) no-repeat;
        background-position: center;
        padding: .5em;
    }

}

@media screen and (min-width: 1728px) {
    .carrossel__container {
        display: flex;
        margin: 5em 10em;
        gap: 5em;
        align-items: bottom;
    }

    .carrossel__titulo {
        padding-top: 2.5em;
        padding-bottom: 1em;
    }

    .swiper-wrapper {
        margin-top: 2em;
    }

    .swiper-pagination-bullet {
        width: 1em;
        height: 1em;
        background: var(--azul-degrade);
        margin: 0;
    }

    .swiper-pagination {
        margin: 0;
    }

    .swiper {
        width: 60%;
        justify-content: center;
    }

    .swiper-button-next::after {
        width: 10px;
    }
}